.hoid {
  font-family: 'Fira Code';
  font-style: Regular;
  float: right;
  margin-top: -50px;
}
.hoid > h1 {
  display: inline-block;
  margin-right: 40px;
  padding-right: 40px;
  color: #abb2bf;
  font-size: 18px;
}
.hoid > :any-link {
  font-family: 'Fira Code';
  font-style: Regular;
  display: inline-block;
  margin-right: 40px;
  padding-right: 40px;
  color: #abb2bf;
  font-size: 18px;
}
.hoid > h2 {
  font-family: 'Fira Code';
  font-style: Regular;
  font-size: 18px;
  display: inline-block;
  margin-right: 195px;
  color: #abb2bf;
}
.ela {
  color: white;
  font-size: 10px;
  margin-left: 195px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.tom {
  font-family: 'Fira Code';
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  font-family: 'Fira Code';
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  height: 85px;
  width: 550px;
  margin-left: 195px;
  margin-top: 197px;
  border-radius: nullpx;
  color: white;
}
.dund {
  height: 50px;
  width: 463px;
  margin-left: 195px;
  margin-top: 15px;
  border-radius: nullpx;

  font-family: Fira Code;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #abb2bf;
}
.zai {
  height: 155px;
  width: 155px;
  margin-left: 800px;
  margin-top: -240px;
  border-radius: 0px;
}
.media {
  margin-top: -50px;
}
.aside {
  font-family: 'Fira Code';
  margin-left: 185px;
  height: auto;
  width: 1600px;
  margin-top: 650px;
  border-radius: nullpx;
  color: white;
}
.gg > h2 {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  float: right;
  margin-right: 400px;
  margin-top: -50px;
}
